:root {
  --priamry: #ddd;
  --dark: #252525;
  --light: #fff;
}
a.nav-link {
  color: #ffffff;
}
.header {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
}
.first-screen {
  background-image: url("../../assets/img/bg.jpg");
  height: 100vh;
  position: relative;
}
.first-page_footer {
  position: absolute;
  bottom: 40px;
  left: 0px;
}
.first-page_footer > span {
  color: #ffffff;
  line-height: 1.19;
  opacity: 0.5;
  font-family: SFProDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.Rectangle-2 {
  width: 29px;
  height: 54px;
  border-radius: 23px;
  border: solid 1px #ffffff;
  position: relative;
  display: none;
}
.Ellipse-2 {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 36%;
  bottom: 11px;
}

.interface {
  object-fit: contain;
}
.nav-link,
h2,
p,
h4,
h3 {
  color: var(--light);
}
h2 {
  letter-spacing: 0.35px;
  text-align: left;
  margin-top: 15px;
  font-weight: 900;
  font-size: 1.7em;
}
h4 {
  font-size: 18px;
  font-family: SFProDisplay;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
}
.btn {
  border-radius: 25px;
  background-color: var(--light);
  font-size: 18px;
  text-align: left;
  margin-top: 30px;
}

.span2 {
  color: var(--light);
  letter-spacing: 0.18px;
  margin-top: 10px;
  font-size: 1.6em;
  line-height: 1.17;
  letter-spacing: 0.18px;
  text-align: left;
  opacity: 0.8;
  font-family: SFProDisplay;
  font-size: 18px;
}

@media(max-width: 500px) {
    .brandon-erlinger {
        width: 70%;
    }
}
.span3 {
  color: var(--light);
  letter-spacing: 0.18px;
  margin-top: 10px;
  text-align: center;
}
h3 {
  text-align: center;
}
.apropos {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 30px;
}
.brandon-erlinger {
  border-radius: 5px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
  /* position: absolute; 
    right: 60px;  */
  margin-bottom: 50px;
  object-fit: contain;
}
.rectangle {
  /* border-radius: 30px;
  border: solid 2px #ffffff; */
  width: 360px;
  height: 60px;
}
.parag {
  opacity: 0.8;
  font-family: SFProDisplay;
  font-size: 16px;
  font-weight: 600;
}
input {
  background-color: transparent;
  border-radius: 30px;
  border: solid 2px #ffffff;
  width: 100%;
  height: 100%;
  color: white;
}
.Ellipse-4 {
  width: 46px;
  height: 46px;
  background-color: #ffffff;
}
.footer > div{
  border-top: solid 2px #ffffff;
  opacity: 0.08;
  width: 100%;
}
.footer > span {
    opacity: 0.45;
  font-family: SFProDisplay;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}