<div class="interface">
  <div class="container">

    <section class="p-3 first-screen row align-items-center">
      <div class="d-flex justify-content-end header">
        <nav class="navbar navbar-expand-lg  ">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">À propos <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Télécharger</a>
              </li>
              <span>|</span>
              <li class="nav-item">
                <a class="nav-link" href="#">Se connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">S'inscrire</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-8 col-12">
        <div class="row">
          <h2 class="mb-3">
            De la musique pour tous, sans publicité
            et sans intermédiaire.
          </h2>
          <span class="span2 mb-3">Abonnez-vous, communiquez et rémunérez justement vos artistes préférés.</span>
          <button type="button" class="btn mb-2">Découvrir Maintenant</button>
        </div>
      </div>
      <div class="col-md-4 col-12 align-self-end d-flex justify-content-center justify-content-md-end">
        <img src="../../assets/img/brandon-erlinger-ford-1338758-unsplash.jpg" class="brandon-erlinger">
      </div>
      <div class="first-page_footer d-flex flex-column">
        <span>Disponible maintenant sur iOs et Android</span>
        <div>
          <img src="../../assets/img/apple.png" srcset="../../assets/img/apple@2x.png 2x,
             img/apple@3x.png 3x" class="apple p-2">
          <img src="../../assets/img/android.png" srcset="../../assets/img/android@2x.png 2x,
             img/android@3x.png 3x" class="android p-2">
        </div>

      </div>
      <div class="Rectangle-2">
        <span class="Ellipse-2"></span>
      </div>
    </section>




    <section class="p-5">

      <h3 class="apropos">À propos</h3>

      <div class="row">
        <div class=" col-md-6 col-12 border-md-right pr-md-5">

          <h4 class="mb-4">Une application pour ceux qui aiment vraiment la musique </h4>
          <P class="parag">
            Abonnez-vous à des artistes pour vous et pour eux.
            A contre courant de ce que propose l'industrie, nous n'offrons pas la consommation de masse mais une
            consommation ciblée.
          </P>
          <P class="parag">
            Vous aimez Orelsan, Saez. Choisissez un des abonnements gratuits ou payant qu'ils vous proposent pour
            apprécier de ce qui vous plait vraiment.
          </P>
        </div>
        <div class="col-md-6 col-12 pl-md-5">

          <h4 class="mb-4">Une application pour ceux qui aiment vraiment la musique </h4>
          <P class="parag">
            Culture contre culture c'est d'une part redonner du pouvoir aux Artistes en leur permettant de vivre mieux
            de leur travail. Culture contre culture ne prend pas de commission sur les abonnements et ne laisse aucune
            place à la publicité. La totalité de vos abonnements est reversée aux artistes que vous soutenez.
          </P>
          <P class="parag"> Cela signifie d'autre part que les Artistes s'engagent à offrir &une expérience nouvelle& à
            leurs abonnés.
          </P>
        </div>
      </div>

    </section>

    <section class="p-3">
      <div class="d-flex flex-column align-items-center">
        <div class="pl-5 pr-5">
          <p>
            Abonnez-vous à des artistes pour vous et pour eux. A contre courant de ce que propose l'industrie, nous
            n'offrons pas la consommn de masse mais une consommation ciblée.Abonnez-vous à des artistes pour vous et
            pour
            eux. A contre courant de ce que propose l'industrie, nous n'offrons pas la consommation de masse mais.

          </p>
        </div>

        <div class="mb-5">
          <button type="button" class="btn  mb-2">Découvrir Maintenant</button>
        </div>
        <h2 class="text-center">
          Inscrivez-vous à notre Newsletter
        </h2>
        <div class="span2 mb-2 col-9 mb-5 text-center">
          Pour être informé de nos actualité. S'inscrire à notre newsletter cela ne contiendra pas de spam
          Nous ne partageons pas d'informations privées.
        </div>
        <div class="rectangle">
          <input type="text" class="form-control p-4" placeholder="E-mail">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </div>
      </div>
    </section>

    <footer class=" d-flex align-items-end footer flex-column">
      <div></div>
      <span class="p-3">Tous droits réservés © 2019 - Culture Conter Culture</span>
    </footer>
  </div>
</div>